body {
    align-items: center;
    background: #f8f5e4;
    color: #000;
    display: flex;
    font-family: "Outfit", sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

a {
    color: rgba(0, 0, 0, 0.75);
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.containerAtmosphere {
    background: url("/images/Atmosphere.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

.containerClear {
    background: url("/images/Clear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

.containerClouds {
    background: url("/images/Clouds.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

.containerDrizzle {
    background: url("/images/Drizzle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

.containerRain {
    background: url("/images/Rain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

.containerSnow {
    background: url("/images/Snow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

.containerThunderstorm {
    background: url("/images/Thunderstorm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

header {
    background: rgba(248, 245, 228, 0.75);
    border-radius: 10px 10px 0 0;
    padding: 20px 20px 0 20px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form-input {
    background: rgba(248, 245, 228, 0.25);
    border: 1px solid #000;
    border-radius: 5px 0 0 5px;
    color: rgba(0, 0, 0, 0.25);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 85%;
}

.search-form-button {
    background: #000;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #f8f5e4;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    padding: 10px;
}

main {
    background: rgba(248, 245, 228, 0.75);
    padding: 10px 0;
}

.weather-app {
    align-items: center;
    justify-content: center;
}

.weather-app-icon {
    display: block;
    line-height: 1;
    margin: 0 auto;
    padding: 0 0 10px 0;
}

.weather-app-city {
    font-size: 20px;
    font-weight: bold;
    line-height: 0.5;
}

.weather-app-temperature {
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}

.weather-app-unit {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -18px;
}

.weather-app-description {
    font-size: 20px;
    font-weight: bold;
    line-height: 0.5;
    text-transform: capitalize;
}

.weather-app-time {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0;
}

.weather-app-details {
    font-size: 20px;
    line-height: 1.25;
    padding: 0 0 10px 0;
}

.weather-app-details strong {
    color: rgba(0, 0, 0, 0.75);
}

.weather-app-details .row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 100px;
}

.weather-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px 20px;
}

.weather-forecast-date {
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    padding: 0 0 5px 0;
}

.weather-forecast-temperature {
    font-size: 13px;
}

.weather-forecast-temperature-min {
    color: rgba(0, 0, 0, 0.75);
}

footer {
    background: rgba(248, 245, 228, 0.75);
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #000;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
        background-size: cover;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    header {
        border-radius: 0;
        height: 7vh;
    }

    main {
        height: 71vh;
        padding-top: 10vh;
    }

    .weather-app-details .row {
        padding: 0 20px;
    }

    footer {
        border-radius: 0;
        font-size: 12px;
        height: 7vh;
    }
}